@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

@keyframes animation-plwpox {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    
}


:root { --main--color: #ff4e88; --sub--color: #bcbcbc; } 

* { margin: 0; padding: 0; box-sizing: border-box; } 

body { font-family: "Red Hat Display", sans-serif; } 

#wrap { position: relative; width: 100%; } 

a { display: block; text-decoration: none; } 

li { list-style: none; } 

span { display: block; } 


/* ==============HEADER============== */

header {
    width: 100%;
    height: 160px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
}

header .header-inner {
    width: 100%;
    height: 100%;
    max-width: 1340px;
    margin: 0 auto;
    min-width: 900px;
}

header .header-inner .top-header {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-inner .top-header .logo-box {
    display: flex;
}

header .header-inner .top-header .logo-box .logo {
    display: flex;
    width: 180px;
    height: 40px;
    background: url(../images/Group.svg);
}



header .header-inner .top-header .search {
    width: 539px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: #F1F3F8;
    border-radius: 19px;
    padding-left: 14px;
}

header .header-inner .top-header .search .search-box {
    width: 300px;
    height: 38px;
    background-color: #F1F3F8;
    border: none;
    outline: none;
    font-size: 14px;
}

header .header-inner .top-header .search .search-img {
    background: url(../images/ico_search_01.svg.svg) no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 26px;
}

header .header-inner .top-header .header-utils {
    display: flex;
    gap: 18px;
}

header .header-inner .top-header .header-utils .header-utils-list .header-utils-link {
    width: 20px;
    height: 20px;
    background: url(../images/Group\ 1795.svg) no-repeat center/cover;
    background-size: 100%;
}

header .header-inner .top-header .header-utils .header-utils-list:nth-child(2) .header-utils-link {
    background: url(../images/Vector.svg)no-repeat center/cover;
    width: 20.95px;
}

header .header-inner .top-header .header-utils .header-utils-list:nth-child(3) .header-utils-link {
    background: url(../images/Vector\ 15.svg) no-repeat center/cover;
    width: 22.99px;
}

header .header-inner .top-header .header-utils .header-utils-list:nth-child(4) .header-utils-link {
    background: url(../images/Vector-1.svg) no-repeat center/cover;
    width: 16.84px;
}

header .header-inner .top-header .header-utils .header-utils-list:nth-child(5) .header-utils-link {
    background: url(../images/Vector-2.svg) no-repeat center/cover;
}

header .header-bottom {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    position: relative;
}



header .header-bottom .category-btn {
    display: flex;
    font-size: 19px;
    font-weight: bold;
    color: #000;
    height: 80px;
    align-items: center;
    width: 100%;

}

header .header-bottom .category .category-btn::before {
    content: '';
    background: url(../images/Menu.svg)no-repeat;
    width: 24px;
    height: 24px;
    display: block;
    line-height: 80px;
    padding-right: 12px;
}

header .header-bottom .category {
    z-index: 11;
    font-family: "Noto Sans KR", sans-serif;
}

header .header-bottom .category .category-cont {
    position: relative;
    z-index: 11;
}


header .header-bottom .category .main-category {
    width: 170%;
    background-color: #fff;
    position: absolute;
    display: none;
    z-index: 10;
}

header .header-bottom .category .main-category.is-active {
    display: block;
}

header .header-bottom .category .main-category .main-category-list {
    width: 100%;
    height: 43px;
    line-height: 43px;
    display: flex;
}

header .header-bottom .category .main-category .main-category-list:hover {
    background-color: #f7f7f7;
}

header .header-bottom .category .main-category .main-category-list .main-category-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 26px;
    color: #000;
    font-size: 17px;
    font-weight: 500;

}

header .header-bottom .category .main-category .main-category-list .main-category-link::after {
    background: url(../images/category/Vector.svg) no-repeat center/cover;
    width: 5px;
    height: 10px;
    background-size: 100%;
    content: '';
}

header .header-bottom .category .main-category .main-category-list .sub-category {
    position: absolute;
    background-color: #f7f7f7;
    animation: 0.2s linear 0s 1 normal none running animation-plwpox;
    transition: .2s;
    height: 258px;
    left: 100%;
    display: none;
    width: 100%;
    top: 0;
}

header .header-bottom .category .main-category .main-category-list .sub-category.is-active {
    top: 0;
    width: 100%;
    transition: .2s;
    display: block;
}

header .header-bottom .category .main-category .main-category-list .sub-category .sub-category-item {
    padding: 0 26px;
    width: 100%;
    background-color: #f7f7f7;

}

header .header-bottom .category .main-category .main-category-list .sub-category .sub-category-item:hover {
    background-color: #e6e6e6
}

header .header-bottom .category .main-category .main-category-list .sub-category .sub-category-item .sub-category-link {
    color: #000;
    font-size: 17px;
}


header .header-bottom .main-list {
    display: flex;
    height: 100%;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    width: 60%;
    justify-content: center;
    margin-left: 40px;
}

header .header-bottom .main-list .main-item {
    height: 100%;
    width: 100%;
}

header .header-bottom .main-list .main-link {
    height: 100%;
    line-height: 80px;
    /* padding: 0 70px; */
    width: 100%;
    color: #000;
    font-size: 20px;
    font-weight: bold;

}

header .header-bottom .main-list .main-link:hover {
    color: var(--main--color);
}


.header-bottom .header-category {
    display: flex;
    align-items: center;
    padding: 7px;
    background-color: var(--main--color);
    border-radius: 30px;
    position: relative;
    height: 46px;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Red Hat Display", sans-serif;

}

.header-bottom .header-category.life {
    background-color: #308FFF;
    transition: .2s;
}

.header-bottom .header-category .category-circle.fashion {
    position: absolute;
    left: 7px;
    width: 78.92px;
    height: 36px;
    background-color: #fff;
    border-radius: 30px;
    z-index: 7;
    transition: .3s;
    transition-duration: .7s;

}

.header-bottom .header-category .category-circle.life {
    position: absolute;
    transform: translateX(78.92px);
    width: 44.77px;
    height: 36px;
    background-color: #fff;
    border-radius: 30px;
    z-index: 7;
    transition: .3s;
    transition-duration: .7s;
}

.header-bottom .header-category .header-list {
    /* padding: 0 18px; */
    z-index: 9;
}

.header-bottom .header-category .header-list:nth-child(2) {
    padding-right: 0;
}



.header-bottom .header-category .header-list .header-link {
    width: 100%;
    font-size: 15px;
    padding: 9px 6px;
    font-weight: bold;
    color: #fff;
    border-radius: 30px;
    z-index: 9;
    transition: .3s;
}

.header-bottom .header-category .header-list .header-link.is-active {
    color: #000;
    transition: .3s;
}

/* -----------header----------- */


/* ===========FOOTER============ */

footer { font-family: "Noto Sans KR", sans-serif; margin-top: 181px; /*position: fixed; bottom: 0; left: 0; width: 100%;*/ } 


.footer-inner { margin: 0 auto; max-width: 1340px; min-width: 900px; display: flex; justify-content: space-between; padding-top: 62px; } 

.footer-inner .blogo { background: url(../images/Group.svg)no-repeat center/cover; width: 305.68px; height: 67px; } 

.footer-inner .footer-blist { display: flex; } 

.footer-inner .footer-blist .footer-cont { margin-top: 30px; margin-right: 29px; } 

.footer-inner .footer-blist .footer-cont .list-title { font-weight: bold; color: #000; font-size: 14px; } 



.footer-inner .footer-blist .footer-cont .cont-item .cont-link { color: #000; font-size: 14px; } 


.footer-inner .subscribe .sns-btn { display: flex; gap: 17px; } 

.footer-inner .subscribe .sns-btn .sns-item .sns-link { background: url(../images/Frame.svg)no-repeat; background-size: contain; width: 15px; height: 29px; } 

.footer-inner .subscribe .sns-btn .sns-item:nth-child(2) .sns-link { background: url(../images/Frame-1.svg) no-repeat; width: 29px; height: 29px; } 

.footer-inner .subscribe .sns-btn .sns-item:nth-child(3) .sns-link { background: url(../images/Frame-2.svg) no-repeat; width: 35px; height: 29px; } 

.footer-inner .subscribe .sns-btn .sns-item:nth-child(4) .sns-link { background: url(../images/Frame-3.svg) no-repeat; width: 45px; height: 29px; } 

.footer-inner .subscribe .sns-btn .sns-item:nth-child(5) .sns-link { background: url(../images/Frame-4.svg) no-repeat; width: 23px; height: 29px; } 

.footer-inner .subscribe .sns-btn .sns-item:nth-child(6) .sns-link { background: url(../images/Frame-5.svg) no-repeat; width: 29px; height: 29px; } 

.footer-inner .subscribe .sns-btn .sns-item:nth-child(7) .sns-link { background: url(../images/Frame-6.svg) no-repeat; width: 26px; height: 29px; } 

.footer-inner .subscribe .sns-btn .sns-item:nth-child(8) .sns-link { background: url(../images/Frame-7.svg) no-repeat; width: 30px; height: 29px; } 

.footer-inner .subscribe p { margin-top: 18px; font-size: 14px; color: #000; font-weight: bold; height: 27.84px; line-height: 27.84px; } 

.footer-inner .subscribe .e-mail { margin-top: 18px; width: 350px; height: 40px; border: 1px solid #5c5c5c; position: relative; padding: 7px 11px; padding-right: 93px; } 

.footer-inner .subscribe .e-mail .sub-btn { position: absolute; right: 0; top: 0; background-color: #000; color: #fff; height: 100%; line-height: 38px; padding: 0 22px; } 

.footer-inner .subscribe .e-mail .e-mail-box { width: 100%; height: 100%; border: none; outline: none; } 

.footer-inner .subscribe .check-btn { display: flex; align-items: center; font-size: 10.5px; font-weight: normal; color: #5c5c5c; } 

.footer-inner .subscribe .check-btn img { margin-right: 6px; cursor: pointer; } 

.footer-inner.bottom { height: 100px; padding: 0; align-items: center; margin-top: 61px; border-top: 1px solid #000; } 

.footer-inner.bottom .copy .copy-text { font-size: 13.5px; color: #5c5c5c; } 

.footer-inner.bottom .bmenu { display: flex; } 

.footer-inner.bottom .bmenu-item { /* border-right: 1px solid #5c5c5c; */
 position: relative; } 

.bmenu-item::after { content: ""; width: 1px; height: 14px; position: absolute; top: 50%; right: 0; transform: translateY(-50%); background-color: #5c5c5c; } 

.bmenu-item:last-child::after { content: none; } 

.footer-inner.bottom .bmenu-item .bmenu-link { padding: 0 15px; font-size: 13.5px; color: #5c5c5c; } 

.footer-inner.bottom .bmenu-item:last-child .bmenu-link { padding: 0; padding-left: 15px; } 

.footer-inner.bottom .bmenu-item:last-child { border: none; } 

.footer-inner.bottom .bmenu-item:last-child .bmenu-link.locate { display: flex; align-items: center; } 

.footer-inner.bottom .bmenu-item:last-child .bmenu-link.locate::before { content: ''; background: url(../images/Subtract.svg) no-repeat; width: 14px; height: 15.9px; background-size: 100%; margin-right: 4px; } 
/* -----------footer----------- */


/* color: var(--main--color); */

main { width: 100%; font-family: 'Noto Sans KR', sans-serif; font-size: 14px; } 
#main_wrap { width: 1340px; height: 600px; margin: 50px auto; display: flex; justify-content: space-between; } 

/* 왼쪽 장바구니 */
.shoppingList { width: 840px; } 
.shoppingList>h1 { padding-bottom: 20px; border-bottom: 1px solid #000; } 
h1{ font-size: 32px; font-weight:bold; line-height: 42px; justify-content: center; } 
.table_style { border-spacing: 0; width: 100%; }

/* thead */
.table_style thead { width: 840px; height: 50px; } 
.table_style thead tr th { font-weight: 500; border-bottom: 1px solid #000; } 
.table_style thead tr th.price_type p { float: right; line-height: 50px; } 
.cBox { border-radius: 4px; -webkit-appearance: none; -moz-appearance: none; appearance: none; width: 20px; height: 20px; background-color: #fff; border: 1px solid #000; cursor: pointer; position: relative; } 
.cBox:checked { background-color: #000000; border-color: #000000; } 
.cBox:checked::after { content: '\2714'; font-size: 16px; color: #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); } 
.table_style thead tr th { text-align: left; align-items: center; justify-content: center; } 

/* tbody */
.table_style tbody tr.product { height: 190px; position: relative; } 
.table_style tbody>tr>td { border-bottom: 1px solid #000; } 
.table_style tbody>tr>td>a:hover { opacity: 0.7; } 
.table_style tbody>tr>td>a img { width: 150px; height: 150px; object-fit: cover; border-radius: 10px; } 

.table_style tbody>tr>td.product_name span { margin-bottom: 10px; } 
.table_style tbody>tr>td.product_name span a { color: #000; } 
.table_style tbody>tr>td.product_name span a:hover { text-decoration: underline; } 
.table_style tbody>tr>td.product_name select { margin-top: 10px; width: 343px; height: 30px; } 
.table_style tbody>tr>td.price { text-align: right; } 
.table_style tbody>tr>td.price button.close { border: none; position: absolute; top: 20px; right: 0; background-color: #fff; cursor: pointer;} 
.table_style tbody>tr>td.price p { font-weight: bold;} 

/* 오른쪽 주문요약 */
.receipt { width: 450px; height: 600px; border: 1px solid #000; } 
.receipt_wrap { width: 307px; margin: 53px auto;} 
.receipt_wrap .top { padding-bottom: 90px; border-bottom: 1px solid #000; } 
h2{ font-size: 14px; font-weight: bold; color: #000;  } 
img.arrow { height: 10px; } 
.receipt_wrap span { font-size: 14px; font-weight: bold; color: var(--main--color); } 
.receipt_wrap .title { display: flex; justify-content: space-between; margin-top: 30px; } 
.receipt_wrap .title .tit{ display: flex; gap: 5px; } 
.receipt_wrap .contents { display: flex; justify-content: space-between; margin-top: 10px; } 
 
 /* total */
 .receipt_wrap .total{display: flex; justify-content: space-between; height: 24px; margin: 40px 0; align-items: flex-end;}
 .receipt_wrap .total .benefit{display: flex; font-size: 24px; font-weight: bold; color: #ff4e88; align-items: flex-end;}
 .receipt_wrap .total .benefit span{font-weight: normal; margin-left: 10px; }

 /* 결제하기 */
 .paybox{width: 305px;height: 40px; line-height: 40px;}
 .paybox a{font-size: 14px;background-color: #000;  font-weight: bold; color: #fff; text-align: center;}
 .paybox a:hover{background-color: #fff; color: #000; border: 1px solid #000;}