@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap');
@keyframes animation-plwpox {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

:root {
    --main--color: #ff4e88;
    --sub--color: #bcbcbc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans KR", sans-serif;
}

a {
    display: block;
    text-decoration: none;
    color: #000;
}

p {
    color: #000;
}

li {
    list-style: none;
}

span {
    display: block;
}

#wrap {
    position: relative;
    width: 100%;
}

select {

    appearance: none; 
   
    -webkit-appearance: none;  
   
    -moz-appearance: none; 
   
    background: url('../images/sub/down-arrow.svg') no-repeat center right 8px; 
   
   }

/* ==============HEADER============== */

header {
    width: 100%;
    height: 160px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
}

header .header-inner {
    width: 100%;
    height: 100%;
    max-width: 1340px;
    margin: 0 auto;
    min-width: 900px;
}

header .header-inner .top-header {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-inner .top-header .logo-box {
    display: flex;
}

header .header-inner .top-header .logo-box .logo {
    display: flex;
    width: 180px;
    height: 40px;
    background: url(../images/Group.svg);
    cursor: pointer;
}



header .header-inner .top-header .search {
    width: 539px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: #F1F3F8;
    border-radius: 19px;
    padding-left: 14px;
}

header .header-inner .top-header .search .search-box {
    width: 300px;
    height: 38px;
    background-color: #F1F3F8;
    border: none;
    outline: none;
    font-size: 14px;
}

header .header-inner .top-header .search .search-img {
    background: url(../images/ico_search_01.svg.svg) no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 26px;
}

header .header-inner .top-header .header-utils {
    display: flex;
    gap: 18px;
}

header .header-inner .top-header .header-utils .header-utils-list .header-utils-link {
    width: 20px;
    height: 20px;
    background: url(../images/Group\ 1795.svg) no-repeat center/cover;
    background-size: 100%;
}

header .header-inner .top-header .header-utils .header-utils-list:nth-child(2) .header-utils-link {
    background: url(../images/Vector.svg)no-repeat center/cover;
    width: 20.95px;
}

header .header-inner .top-header .header-utils .header-utils-list:nth-child(3) .header-utils-link {
    background: url(../images/Vector\ 15.svg) no-repeat center/cover;
    width: 22.99px;
}

header .header-inner .top-header .header-utils .header-utils-list:nth-child(4) .header-utils-link {
    background: url(../images/Vector-1.svg) no-repeat center/cover;
    width: 16.84px;
}

header .header-inner .top-header .header-utils .header-utils-list:nth-child(5) .header-utils-link {
    background: url(../images/Vector-2.svg) no-repeat center/cover;
}

header .header-bottom {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    position: relative;
}



header .header-bottom .category-btn{
    display: flex;
    font-size: 19px;
    font-weight: bold;
    color: #000;
    height: 80px;
    align-items: center;
    width: 100%;

}

header .header-bottom .category .category-btn::before {
    content: '';
    background: url(../images/Menu.svg)no-repeat;
    width: 24px;
    height: 24px;
    display: block;
    line-height: 80px;
    padding-right: 12px;
}

header .header-bottom .category {
    z-index:11;
    font-family: "Noto Sans KR", sans-serif;
}

header .header-bottom .category .category-cont {
    position: relative;
    z-index: 11;
}


header .header-bottom .category .main-category {
    width: 170%;
    background-color: #fff;
    position: absolute;
    display: none;
    z-index: 10;
}

header .header-bottom .category .main-category.is-active {
    display: block;
}

header .header-bottom .category .main-category .main-category-list {
    width: 100%;
    height: 43px;
    line-height: 43px;
    display: flex;
}

header .header-bottom .category .main-category .main-category-list:hover {
    background-color: #f7f7f7;
}

header .header-bottom .category .main-category .main-category-list .main-category-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 26px;
    color: #000;
    font-size: 17px;
    font-weight: 500;

}
header .header-bottom .category .main-category .main-category-list .main-category-link::after {
    background: url(../images/category/Vector.svg) no-repeat center/cover;
    width: 5px;
    height: 10px;
    background-size: 100%;
    content: '';
}

header .header-bottom .category .main-category .main-category-list .sub-category {
    position: absolute;
    background-color: #f7f7f7;
    animation: 0.2s linear 0s 1 normal none running animation-plwpox;
    transition: .2s;
    height: 258px;
    left: 100%;
    display: none;
    width: 100%;
    top: 0;
}

header .header-bottom .category .main-category .main-category-list .sub-category.is-active {
    top: 0;
    width: 100%;
    transition: .2s;
    display: block;
}

header .header-bottom .category .main-category .main-category-list .sub-category .sub-category-item {
    padding: 0 26px;
    width: 100%;
    background-color: #f7f7f7;
    
}

header .header-bottom .category .main-category .main-category-list .sub-category .sub-category-item:hover {
    background-color: #e6e6e6
}

header .header-bottom .category .main-category .main-category-list .sub-category .sub-category-item .sub-category-link {
    color: #000;
    font-size: 17px;
}


header .header-bottom .main-list {
    display: flex;
    height: 100%;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    width: 60%;
    justify-content: center;
    margin-left: 40px;
}

header .header-bottom .main-list .main-item {
    height: 100%;
    width: 100%;
}

header .header-bottom .main-list .main-link {
    height: 100%;
    line-height: 80px;
    /* padding: 0 70px; */
    width: 100%;
    color: #000;
    font-size: 20px;
    font-weight: bold;

}

header .header-bottom .main-list .main-link:hover {
    color: var(--main--color);
}


.header-bottom .header-category {
    display: flex;
    align-items: center;
    padding: 7px;
    background-color: var(--main--color);
    border-radius: 30px;
    position: relative;
    height: 46px;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Red Hat Display", sans-serif;

}

.header-bottom .header-category.life {
    background-color: #308FFF;
    transition: .2s;
}

.header-bottom .header-category .category-circle.fashion {
    position: absolute;
    left: 7px;
    width: 78.92px;
    height: 36px;
    background-color: #fff;
    border-radius: 30px;
    z-index: 7;
    transition: .3s;
    transition-duration: .7s;

}

.header-bottom .header-category .category-circle.life {
    position: absolute;
    transform: translateX(78.92px);
    width: 44.77px;
    height: 36px;
    background-color: #fff;
    border-radius: 30px;
    z-index: 7;
    transition: .3s;
    transition-duration: .7s;
}

.header-bottom .header-category .header-list {
    /* padding: 0 18px; */
    z-index: 9;
}

.header-bottom .header-category .header-list:nth-child(2) {
    padding-right: 0;
}



.header-bottom .header-category .header-list .header-link {
    width: 100%;
    font-size: 15px;
    padding: 9px 6px;
    font-weight: bold;
    color: #fff;
    border-radius: 30px;
    z-index: 9;
    transition: .3s;
}

.header-bottom .header-category .header-list .header-link.is-active {
    color: #000;
    transition: .3s;
}

/* ===========MAIN============= */
.item-info {
    margin-top: 50px;
}

.item-info .item-info-inner {
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    min-width: 900px;
    gap: 70px;
}

.item-info .item-info-inner .item-image {
    width: 560px;
    height: 700px;
    overflow: hidden;
    position: relative;
}

.item-info .item-info-inner .item-image .slide-btn.left {
    width: 44px;
    height: 44px;
    background-color: rgb(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.item-info .item-info-inner .item-image .slide-btn.left img {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item-info .item-info-inner .item-image .slide-btn.right {
    width: 44px;
    height: 44px;
    background-color: rgb(0, 0, 0, 0.2);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.item-info .item-info-inner .item-image .slide-btn.right img {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item-info .item-info-inner .item-image .slide-list{
    width: 500%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.item-info .item-info-inner .item-image .slide-list.first {
    display: none;
}

.item-info .item-info-inner .item-image .slide-list.first.is-active {
    display: block;
}

.item-info .item-info-inner .item-image .slide-list .slide-menu {
    display: flex;
}



.item-info .item-info-inner .item-image .slide-list.second{
   display: none;
}
.item-info .item-info-inner .item-image .slide-list.second.is-active{
   display: block;
}
.item-info .item-info-inner .item-image .slide-list.third{
    display: none;
}
.item-info .item-info-inner .item-image .slide-list.third.is-active{
    display: block;
}
.item-info .item-info-inner .item-image .slide-list.fourth{
    display: none;
}
.item-info .item-info-inner .item-image .slide-list.fourth.is-active{
    display: block;
}
.item-info .item-info-inner .item-image .slide-list.fifth{
    display: none;
}
.item-info .item-info-inner .item-image .slide-list.fifth.is-active{
    display: block;
}

.item-info .item-info-inner .item-image img {
    width: 560px;
    height: 100%;
    overflow: hidden;
}

.item-info .item-info-inner .item-detail {
    width: calc(100% - 630px);
    position: relative;
}

.item-info .item-info-inner .item-detail .brand {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    
}

.item-info .item-info-inner .item-detail .brand .brand-title {
    font-weight: bold;
    padding-right: 9px;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #000;
}

.item-info .item-info-inner .item-detail .brand::after {
    content: '';
    background: url(../images/sub/Vector\ 15.svg) no-repeat center;
    width: 26px;
    height: 26px;
}

.item-info .item-info-inner .item-detail .brand-arrow {
    background: url(../images/sub/right-arrow.svg) no-repeat center;
    height: 20px;
    width: 20px;
}

.item-info .item-info-inner .item-detail .item-title-box {
    margin-top: 30px;
}

.item-info .item-info-inner .item-detail .item-title-box .delivery {
    font-size: 18px;
}

.item-info .item-info-inner .item-detail .price {
    margin-top: 30px;
}

.item-info .item-info-inner .item-detail .price .item-price {
    color: var(--sub--color);
    font-size: 14px;
    text-decoration: line-through;
}

.item-info .item-info-inner .item-detail .price .sale-box {
    display: flex;
    align-items: flex-end;
}


.item-info .item-info-inner .item-detail .price .sale-box .sale-rate {
    font-weight: bold;
    color: var(--main--color);
    font-size: 22px;
    margin-right: 15px;
}

.item-info .item-info-inner .item-detail .price .sale-box .sale-price {
    font-size: 22px;
    font-weight: bold;
}

.item-info .item-info-inner .item-detail .price .sale-box .won {
    display: inline-block;
    vertical-align: top;
    position: relative;
    bottom: 3px;
}

.item-info .item-info-inner .item-detail .review {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.item-info .item-info-inner .item-detail .review .star {
    background: url(../images/sub/stars.svg) no-repeat center;
    width: 121px;
    height: 24px;
}

.item-info .item-info-inner .item-detail .review .review-count {
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
}

.item-info .item-info-inner .item-detail .item-colors {
    margin-top: 50px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.item-info .item-info-inner .item-detail .item-colors .color-item {
    width: 31px;
    height: 31px;
}

.item-info .item-info-inner .item-detail .item-colors .color-item .color-link img {
    width: 31px;
    height: 31px;
}

.item-info .item-info-inner .item-detail .item-colors .color-item .color-link img.is-active {
    padding: 2px;
    background: transparent;
    border-radius: 50%;
    border: 2px solid #000;
}

.item-info .item-info-inner .item-detail .size {
    margin-top: 110px;
}

.item-info .item-info-inner .item-detail .size .country {
    width: 100px;
    height: 40px;
    font-weight: bold;
    border: 2px solid #000;
    padding-right: 15px;
}

.item-info .item-info-inner .item-detail .size .country option {
    text-align: center;
}

.item-info .item-info-inner .item-detail .size .size-num {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.item-info .item-info-inner .item-detail .size .size-num .size-item {
    width: 64px;
    height: 40px;
    border: 2px solid #000;
    text-align: center;
    border-radius: 20px;
}

.item-info .item-info-inner .item-detail .size .size-num .size-item.is-active {
    color: #fff;
    background-color: #000;
}

.item-info .item-info-inner .item-detail .size .size-num .size-item .size-link {
    width: 100%;
    height: 100%;
    line-height: 36px;
    color: #000;
}

.item-info .item-info-inner .item-detail .size .size-num .size-item.is-active .size-link {
    color: #fff;
}

.item-info .item-info-inner .item-detail .shop-btn {
    margin-top: 92.16px;
    display: flex;
    gap: 30px;
    height: 60px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.item-info .item-info-inner .item-detail .shop-btn .btn {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    line-height: 58px;
    width: 340px;
    height: 60px;
    font-size: 24px;
    color: #000;
}

.item-info .item-info-inner .item-detail .shop-btn .btn.cart {
    background-color: #000;
    color: #fff;
}

/* ============DETAIL========= */
.detail-cont {
    width: 100%;
    margin-top: 100px;
}

.detail-cont .detail-cont-inner {
    margin: 0 auto;
    max-width: 1340px;
    min-width: 900px;
}

.detail-cont .detail-cont-inner .detail-menu {
    display: flex;
    width: 100%;
    height: 60px;
}

.detail-cont .detail-cont-inner .detail-menu .detail-item {
    width: 100%;
    height: 100%;
    text-align: center;
}


.detail-cont .detail-cont-inner .detail-menu .detail-item .detail-link {
    font-weight: normal;
    font-size: 24px;
    line-height: 60px;
    color: #000;
    border: 1px solid #000;
}

.detail-cont .detail-cont-inner .detail-menu .detail-item .detail-link.is-active {
    color: #fff;
    background-color: #000;
    font-weight: bold;
}


/* ==========DETAIL-SIZE======== */

.size-inner{
    width: 100%;
    margin-top: 60px;
    display: none;
}

.size-inner.is-active {
    display: block;
}

.detail-title {
    font-weight: bold;
    font-size: 32px;
    color: #000;
}

.size-inner .detail-size {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    border: 1px solid #bcbcbc;
    border-collapse: collapse;
}

.size-inner .detail-size th,
.size-inner .detail-size td {
    border: 1px solid #bcbcbc;
    height: 62px;
}

.size-inner .detail-size td {
    width: calc(100% / 3);
    font-size: 24px;
}



.size-inner .detail-size tr:nth-child(1) {
    background-color: #F1F3F8
}

.size-inner .detail-size tr td:first-child {
    background-color: #F1F3F8

}

/* ========DETAIL-REVIEW========== */
.review-inner {
    margin-top: 60px;
    display: none;
}

.review-inner.is-active {
    display: block;
}

.review-inner .detail-title {
    padding-bottom: 40px;
    border-bottom: 1px solid #000;
}

.review-inner .review-cont {
    padding: 38px 36px;
    display: flex;
    align-items: end;
    border-bottom: 1px solid #000;
}

.review-inner .review-cont .satisfaction {
    margin-right: 34px;
}

.review-inner .review-cont .satisfaction .satis-title {
    font-size: 24px;
}

.review-inner .review-cont .satisfaction .rating {
    display: flex;
    margin-top: 16.5px;
    align-items: center;
}

.review-inner .review-cont .satisfaction .rating .rating-num {
    font-weight: bold;
    font-size: 24px;
}

.review-inner .review-cont .satisfaction .rating .rating-star {
    background: url(../images/sub/stars2.svg)no-repeat center;
    margin-left: 15px;
    width: 141px;
    height: 28px;
    margin-top: 3px;
}

.review-inner .review-cont .review-detail-cont {
    display: flex;
    margin-left: 34px;
}

.review-inner .review-cont .review-detail-cont .cont {
    margin-right: 105px;
}

.review-inner .review-cont .review-detail-cont .cont-item {
    margin-bottom: 10px;
}
.review-inner .review-cont .review-detail-cont .cont .eva {
    display: flex;
}

.review-inner .review-cont .review-detail-cont .cont .eva span {
    font-size: 14px;
    font-weight: bold;
}

.review-inner .review-cont .review-detail-cont .cont .eva span:first-child {
    margin-right: 20px;
}

.review-inner .all-review {
    margin-top: 40px;
}

.review-inner .all-review .all-review-title {
    padding: 0 0 26px 36px;
    display: flex;
    align-items: end;
    border-bottom: 1px solid #000;
}

.review-inner .all-review .all-review-title .all-title {
    font-size: 24px;
    font-weight: bold;
}

.review-inner .all-review .all-review-title .image-title {
    font-size: 24px;
    margin-left: 45px;
}

.review-inner .all-review .all-review-title .recommend-text {
    margin-left: auto;
    margin-right: 80px;
    font-weight: bold;
}

.review-inner .all-review .all-review-title .new-text {
    margin-right: 49px;
}

.review-inner .all-review .user-review-list {
    width: 100%;
}

.review-inner .all-review .user-review-list .user-review-item {
    padding: 10px 36px;
    border-bottom: 1px solid #000;
    width: 100%;
}

.review-inner .all-review .user-review-list .user-review-item .user-review-link {
    display: flex;
    width: 100%;
}

.review-inner .all-review .user-review-list .user-review-item .user-review-link .review-img {
    width: 150px;
    height: 150px;
    background: url(../images/sub/review/DAZY\ 여성용\ 단색\ 오프숄더\ 사이드\ 타이\ 티셔츠2.png) no-repeat center;
    margin-right: 60px;
}

.review-inner .all-review .user-review-list .user-review-item .user-review-link .user-rating {
    padding-top: 28px;
}

.review-inner .all-review .user-review-list .user-review-item .user-review-link .user-rating .user-star-rating {
    background: url(../images/sub/stars2.svg) no-repeat;
    width: 141px;
    height: 28px;
}

.review-inner .all-review .user-review-list .user-review-item .user-review-link .user-rating .user-detail-review {
    display: flex;
    padding-top: 20px;
}

.review-inner .all-review .user-review-list .user-review-item .user-review-link .user-rating .user-detail-review .user-info {
    padding-right: 40px;
    font-weight: bold;
    color: #000;
}

.review-inner .all-review .user-review-list .user-review-item .user-review-link .user-rating .user-text{
    padding-top: 5px;
    color: #000;
}

.review-inner .all-review .user-review-list .user-review-item .user-review-link .user-recommend {
    margin-left: auto;
}

.review-inner .all-review .user-review-list .user-review-item .user-review-link .user-recommend .flex-recommend {
    display: flex;
    padding-top: 26px;
    justify-content: space-between;
    width: 200px;
}

.review-inner .all-review .user-review-list .user-review-item .user-review-link .user-recommend .flex-recommend .user-recommend-rate {
    font-weight: bold;
}


.review-inner .all-review .user-review-list .user-review-item .user-review-link .user-recommend .date {
    margin-left: auto;
    text-align: right;
}

.review-inner .all-review .user-review-list .user-review-item .user-review-link .user-recommend .date {
    padding-top: 55px;
}

.slide-btn {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
}

.slide-btn p {
    padding: 0 15px;
    font-size: 15px;
    font-weight: 600;
}

.slide-btn .page {
    border-right: 1px solid #bcbcbc;
}

.slide-btn .last-page {
    color: #bcbcbc;
}

.slide-btn .left-arrow {
    padding-right: 15px;
    cursor: pointer;
}

.slide-btn .right-arrow {
    padding-left: 15px;
    cursor: pointer;
}


/* ===========DETAIL-RECOMMEND=========== */

.shop-inner {
    display: none;
}

.shop-inner.is-active {
    display: block;
}

 .shop-list {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    height: 445px;
    gap: 30px;
}


 .shop-list .shop-item {
    width: 100%;
    height: 100%;
    position: relative;
}

 .shop-list .shop-item .shop-link .item-image {
    border-radius: 20px;
    width: 100%;
    height: 355px;
    background: url(../images/쉐인/랭킹-베스트/DAZY\ 타이\ 다이\ 주름링\ 스플릿\ 헴\ 탑2.webp) no-repeat center/cover;
}

 .shop-list .shop-item:nth-child(2) .shop-link .item-image {
    background: url(../images/쉐인/랭킹-베스트/DAZY-여성용-단색-오프숄더-사이드-타이-티셔츠2.webp) no-repeat center/cover;
}

 .shop-list .shop-item:nth-child(3) .shop-link .item-image {
    background: url(../images/쉐인/랭킹-베스트/DAZY\ 상추트림\ 비대칭\ 밑단티.webp) no-repeat center/cover;
}

 .shop-list .shop-item:nth-child(4) .shop-link .item-image {
    background: url(../images/쉐인/랭킹-베스트/DAZY\ 레터\ 그래픽\ 컷\ 아웃\ 리브\ 니트\ 티셔츠2.webp) no-repeat center/cover;
}

 .shop-list .shop-item .shop-link .text-box {
    height: calc(100% - 355px);
    margin-top: 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

 .shop-list .shop-item .shop-link .text-box p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

 .shop-list .shop-item .shop-link .text-box .item-name {
    font-weight: normal;
    margin-top: 5px;
}

 .shop-list .shop-item .shop-link .text-box .item-price {
    display: flex;
    margin-top: 5px;
}

 .shop-list .shop-item .shop-link .text-box .item-price span {
    padding-right: 10px;
}

 .shop-list .shop-item .shop-link .text-box .item-price .dis-rate {
    color: var(--main--color);
}

 .shop-list .shop-item .shop-link .text-box .item-price .price {
    font-weight: normal;
    text-decoration: line-through;
    color: var(--sub--color);
}

.shop-list.second .shop-item .shop-link .item-image {
    border-radius: 20px;
    width: 100%;
    height: 355px;
    background: url(../images/쉐인/세일/Zhen\ Liu\ 아티스트\ 걸코어\ 캐주얼\ 메시\ 프린트\ 초상화\ 라운드\ 넥\ 슬림\ 크롭\ 여성\ 상의\ \(2\).webp) no-repeat center/cover;
}

.shop-list.second .shop-item:nth-child(2) .shop-link .item-image {
    background: url(../images/쉐인/세일/SHEIN\ EZwear\ 여성용\ 5인치\ 카고\ 반바지\,\ 봄과\ 여름\ 옷에\ 적합\ \(2\).webp) no-repeat center/cover;
}

.shop-list.second .shop-item:nth-child(3) .shop-link .item-image {
    background: url(../images/쉐인/세일/SHEIN\ EZwear\ 여름용\ 캐주얼\ 슬림\ 핏\ 숏컷\ 더블\ 컬러\ 스파이스\ 캐미솔\ 탑\ \(1\).webp) no-repeat center/cover;
}

.shop-list.second .shop-item:nth-child(4) .shop-link .item-image {
    background: url(../images/쉐인/세일/SHEIN\ EZwear\ 빅\ 사이즈\ 앞\ 버튼\ 호형\ 아랫단\ 티.webp) no-repeat center/cover;
}


/* ===========FOOTER============ */

footer {
    font-family: "Noto Sans KR", sans-serif;
    margin-top: 181px;
}


.footer-inner {
    margin: 0 auto;
    max-width: 1340px;
    display: flex;
    justify-content: space-between;
    padding-top: 62px;
    min-width: 900px;
}

.footer-inner .blogo {
    background: url(../images/Group.svg)no-repeat center/cover;
    width: 305.68px;
    height: 67px;
}

.footer-inner .footer-blist {
    display: flex;
}

.footer-inner .footer-blist .footer-cont {
    margin-top: 30px;
    margin-right: 29px;
}

.footer-inner .footer-blist .footer-cont .list-title {
    font-weight: bold;
    color: #000;
    font-size: 14px;
}



.footer-inner .footer-blist .footer-cont .cont-item .cont-link {
    color: #000;
    font-size: 14px;
}


.footer-inner .subscribe .sns-btn {
    display: flex;
    gap: 17px;
}

.footer-inner .subscribe .sns-btn .sns-item .sns-link {
    background: url(../images/Frame.svg)no-repeat;
    background-size: contain;
    width: 15px;
    height: 29px;
}

.footer-inner .subscribe .sns-btn .sns-item:nth-child(2) .sns-link {
    background: url(../images/Frame-1.svg) no-repeat;
    width: 29px;
    height: 29px;
}

.footer-inner .subscribe .sns-btn .sns-item:nth-child(3) .sns-link {
    background: url(../images/Frame-2.svg) no-repeat;
    width: 35px;
    height: 29px;
}

.footer-inner .subscribe .sns-btn .sns-item:nth-child(4) .sns-link {
    background: url(../images/Frame-3.svg) no-repeat;
    width: 45px;
    height: 29px;
}

.footer-inner .subscribe .sns-btn .sns-item:nth-child(5) .sns-link {
    background: url(../images/Frame-4.svg) no-repeat;
    width: 23px;
    height: 29px;
}

.footer-inner .subscribe .sns-btn .sns-item:nth-child(6) .sns-link {
    background: url(../images/Frame-5.svg) no-repeat;
    width: 29px;
    height: 29px;
}

.footer-inner .subscribe .sns-btn .sns-item:nth-child(7) .sns-link {
    background: url(../images/Frame-6.svg) no-repeat;
    width: 26px;
    height: 29px;
}

.footer-inner .subscribe .sns-btn .sns-item:nth-child(8) .sns-link {
    background: url(../images/Frame-7.svg) no-repeat;
    width: 30px;
    height: 29px;
}

.footer-inner .subscribe p {
    margin-top: 18px;
    font-size: 14px;
    color: #000;
    font-weight: bold;
    height: 27.84px;
    line-height: 27.84px;
}

.footer-inner .subscribe .e-mail {
    margin-top: 18px;
    width: 350px;
    height: 40px;
    border: 1px solid #5c5c5c;
    position: relative;
    padding: 7px 11px;
    padding-right: 93px;
}

.footer-inner .subscribe .e-mail .sub-btn {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #000;
    color: #fff;
    height: 100%;
    line-height: 38px;
    padding: 0 22px;
}

.footer-inner .subscribe .e-mail .e-mail-box {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.footer-inner .subscribe .check-btn {
    display: flex;
    align-items: center;
    font-size: 10.5px;
    font-weight: normal;
    color: #5c5c5c;
}

.footer-inner .subscribe .check-btn img {
    margin-right: 6px;
    cursor: pointer;
}

.footer-inner.bottom {
    height: 100px;
    padding: 0;
    align-items: center;
    margin-top: 61px;
    border-top: 1px solid #000;
}

.footer-inner.bottom .copy .copy-text {
    font-size: 13.5px;
    color: #5c5c5c;
}

.footer-inner.bottom .bmenu {
    display: flex;
}

.footer-inner.bottom .bmenu-item {
    /* border-right: 1px solid #5c5c5c; */
    position: relative;
}

.bmenu-item::after {
    content: "";
    width: 1px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #5c5c5c;
}

.bmenu-item:last-child::after {
    content: none;
}

.footer-inner.bottom .bmenu-item .bmenu-link {
    padding: 0 15px;
    font-size: 13.5px;
    color: #5c5c5c;
}

.footer-inner.bottom .bmenu-item:last-child .bmenu-link {
    padding: 0;
    padding-left: 15px;
}

.footer-inner.bottom .bmenu-item:last-child {
    border: none;
}

.footer-inner.bottom .bmenu-item:last-child .bmenu-link.locate {
    display: flex;
    align-items: center;
}

.footer-inner.bottom .bmenu-item:last-child .bmenu-link.locate::before {
    content: '';
    background: url(../images/Subtract.svg) no-repeat;
    width: 14px;
    height: 15.9px;
    background-size: 100%;
    margin-right: 4px;
}

.remote {
    position: fixed;
    right: 142px;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    bottom: 30px;
    background-color: #fff;
    padding: 7px;
    opacity: .7;
    border-radius: 20px;
}

.remote .remote-btn {
    background: url(../images/remote/Group\ 1815.svg) no-repeat center;
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.remote .remote-btn:first-child {
    margin-top: 0;
}

.remote .remote-btn.top {
    background: url(../images/remote/Group\ 1813.svg);
}

.remote .remote-btn.bottom {
    background: url(../images/remote/Group\ 1814.svg)
}

@media(max-width: 1599px) {
    .remote {
        right: 10px;
    }
}